* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    width: 550px;
    margin: auto;
  }
  /* ---------- */
  /* DRY coding */
  /* ---------- */
  /* Display flex */
  #main,
  #dropdown,
  #btn-dropdown,
  #template,
  #name {
    display: flex;
  }
  #btn-dropdown,
  #get-color-scheme,
  #color-picker {
    border: 1px solid lightgray;
    cursor: pointer;
  }
  #get-color-scheme,
  #color-picker {
    height: 42px;
  }
  #btn-dropdown,
  #dropdown {
    width: 230px;
    padding: 5px;
  }
  #main,
  #dropdown {
    background-color: white;
  }
  #color-template,
  #color-name {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  /* ---------- */
  /* Alpha divs */
  /* ---------- */
  #btn-dropdown {
    justify-content: space-between;
    align-items: center;
  }
  .colors {
    height: 100%;
  }
  #color-template {
    height: 400px;
  }
  #dropdown {
    flex-direction: column;
    position: absolute;
    height: auto;
    gap: 3px;
    z-index: -1;
  }
  #dropdown a:hover {
    cursor: pointer;
  }
  #dropdown a {
    text-decoration: none;
    height: 0px;
    font-size: 1rem;
    transition: height 0.6s cubic-bezier(.07,1.26,1,1.06);
    color: #62587c;
  }
  #get-color-scheme {
    width: 123px;
  }
  #main {
    height: 90px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .names {
    margin: auto;
  }
  #scheme {

  }
  #selected {
    background-image: url('/images/check-solid.svg');
    background-repeat: no-repeat;
    background-position-x: right;
    font-weight: bold;
  }