* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    width: 550px;
    margin: auto;
  }
  /* ---------- */
  /* DRY coding */
  /* ---------- */
  /* Display flex */
  #main,
  #dropdown,
  #btn-dropdown {
    display: flex;
  }
  #btn-dropdown,
  #get-color-scheme,
  #color-picker {
    border: 1px solid lightgray;
    cursor: pointer;
  }
  #get-color-scheme,
  #color-picker {
    height: 42px;
  }
  #btn-dropdown,
  #dropdown {
    width: 230px;
    padding: 5px;
  }
  #main,
  #dropdown {
    background-color: white;
  }
  /* ---------- */
  /* Alpha divs */
  /* ---------- */
  #btn-dropdown {
    justify-content: space-between;
    align-items: center;
  }
  #dropdown {
    flex-direction: column;
    position: absolute;
    height: auto;
    gap: 3px;
    z-index: -1;
  }
  #dropdown a:hover {
    background-color: rgb(249, 249, 249);
  }
  #dropdown a {
    text-decoration: none;
    height: 0px;
    font-size: 1rem;
    transition: height 0.6s cubic-bezier(.07,1.26,1,1.06);
    transition: background-color 0.3s ease-in;
  }
  #get-color-scheme {
    width: 123px;
  }
  #main {
    height: 90px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  #selected {
    background-image: url('/images/check-solid.svg');
    background-repeat: no-repeat;
    background-position-x: right;
    font-weight: bold;
  }